<li>
    {{burger_name}}
    {{!-- <form action="api/burger/{{id}}?_method=PUT" method="POST"> --}}
    <button class="devour-burger" data-id="{{id}}" data-eatburger="{{devoured}}">
       Devour
    </button>
    {{!-- </form> --}}

</li>